*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav, header, footer{
  background-color: #1F2937;
  color: white;
}

nav{
  display: flex;
  padding: 20px;
}

#logo{
  width: 60%;
}

#nav-section{
  display: flex;
  gap: 50px;
}

h1{
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

header{
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

button{
  background-color: #3882f6;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
}
section{
  height: 300px;
}

#cta{
  background-color: #3882f6;
  width: 75%;
  margin: 50px auto;
  border-radius: 20px;
  padding: 50px;
  display: flex;
}

#cta button{
  border: 2px white solid;
}


footer{
  padding: 20px;
  text-align: center;
}

#quote-section{
  background-color: #E5e7eb;
  text-align: center;
  padding: 100px;
}

h3{
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
}